<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <style type="text/css">
        .alert {
            padding: 20px;
            background-color: #f44336; /* Red */
            color: white;
            margin-bottom: 15px;
        }
        .message {
            padding: 20px;
            background-color: #00FFFF; /* Blue */
            color: white;
            margin-bottom: 15px;
        }
    </style>
</head>
<body>

<span>
    <div class="message" th:each="info: ${infos}" th:text="${info}"></div>
</span>
<span>
    <div class="alert" th:each="error: ${errors}" th:text="${error}"></div>
</span>
<div id="id01">
    <form class="modal-content animate" th:action="@{/login}" th:object="${auth}" method="post">
        <div class="container">
            <label><b>Username</b><input type="text" placeholder="Enter Username" name="uname" required th:field="*{username}" /></label>
            <label><b>Password</b><input type="password" placeholder="Enter Password" name="psw" required th:field="*{password}" /></label>
            <button type="submit">Login</button>
        </div>
    </form>
</div>

</body>
</html>