<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Heroku Task Manager</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/todo.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <style type="text/css">
        .message {
            padding: 20px;
            background-color: #00FFFF; /* Blue */
            color: white;
            margin-bottom: 15px;
        }
    </style>

    <meta name="_jwt" th:content="${jwt}"/>
</head>

<body>

<span>
    <div class="message" th:each="info: ${infos}" th:text="${info}"></div>
</span>

<div id="myDIV" class="header">
    <h2>My To Do List</h2>
    <input type="text" id="myInput" placeholder="Title...">
    <span onclick="newElement()" class="addBtn" id="addBtn">Add</span>
</div>

<ul id="myUL">
    <li th:each="task: ${tasks}" th:text="${task.description}" ></li>
</ul>

</body>
</html>
<script>
    // Add a "checked" symbol when clicking on a list item
    let list = document.querySelector('ul');
    list.addEventListener('click', function(ev) {
        if (ev.target.tagName === 'LI') {
            ev.target.classList.toggle('checked');

            // checkmark for a brief moment, then delete the element
            setTimeout(function() {
                $(ev.target).remove();
                save();
            }, 500);
        }
    }, false);

    // Press "Add" button when press enter in text field.
    let txtMyInput = document.getElementById("myInput");
    txtMyInput.addEventListener('keyup', function(ev) {
        // "Enter" key is #13
        if (ev.keyCode === 13) {
            ev.preventDefault();
            document.getElementById("addBtn").click();
        }
    }, false);

    // Create a new list item when clicking on the "Add" button
    function newElement() {
        let li = document.createElement("li");
        let inputValue = txtMyInput.value;
        let t = document.createTextNode(inputValue);
        li.appendChild(t);
        if (inputValue === '') {
            alert("You must write something!");
        } else {
            document.getElementById("myUL").appendChild(li);
            save();
        }
        txtMyInput.value = "";
    }

    function save() {
        let jwt = $("meta[name='_jwt']").attr("content");

        $.ajax({
            type: "post",
            contentType: "application/json",
            url: "/api/jwt/extend",
            data: jwt,
            dataType: 'text',
            cache: false,
        }).then(function(data) {
            let list = $.map($('#myUL').children(), function(el) {
                let description = $(el).text();
                let json = {};
                json.description = description;
                return json;
            });

            return $.ajax({
                type: "post",
                contentType: "application/json",
                url: "/api/save",
                data: JSON.stringify(list),
                dataType: 'json',
                cache: false,
                beforeSend: function(xhr) {
                    xhr.setRequestHeader("Authorization", "bearer " + data);
                }
            })
        });
    }
</script>